.header-body {
    position: relative;
    z-index: 1;
    background: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;
    z-index: 1;
    background: white;
    padding-bottom: 30px;
}

.unorder {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.li {
    color: hsl(233, 8%, 62%);
    cursor: pointer;
}

.li:hover {
    color: #000;
    transition: all 0.5s ease;
}

.request-button {
    background: linear-gradient(90deg, #79e14f, #54d8f5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.request-button:hover {
    background: linear-gradient(90deg, #54d8f5, #79e14f);
}

.hamburger {
    display: none;
    padding: 0;
    margin: 0;
}

.nav-links-mobile {
    display: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 1121px) {
    header {
        max-width: 90vw;
    }
}

@media (max-width: 842px) {
    .hamburger {
        display: flex;
    }

    .req-btn,
    .unorder {
        display: none;
        margin: 0;
        padding: 0;
    }
    .active.nav-links-mobile {
        height: 457px;
        display: grid;
        align-items: center;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        width: 100%;
        background-color: white;
        position: absolute;
    }
    .nav-links-mobile {
        display: none;
        margin-top: 593px;
        list-style-type: none;
    }
}